/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    margin: 1rem 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    display: inline-block;
    width: 180px;
    height: auto;
}

header nav ul {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #1A1A1A;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem; 
}

header a {
    text-decoration: none;
    color: #1A1A1A;
}

header a:hover{
    text-decoration: underline;
    color: #F21213;
    cursor: pointer;
}

@media (max-width: 860px) {
    #home {
        display: none; 
    }
}

main {
    box-shadow: 0 -4px 6px #D9D9D9;
    border-radius: 20px 20px 0 0;
    margin-bottom: 5rem;
}

main > div {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #1A1A1A;
}

section {
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #1A1A1A;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    color:#1A1A1A;
    text-align: center;
    padding: 3.5rem 0 0 0;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}

#intro-text p {
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    font-weight: 300;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #8C8C8C;
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

input[type = "text"] {   
    color: #8C8C8C;
    padding: 0 1rem;
    flex: 1;
    height: 2rem;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    border-radius: 5px;
    border-style: none;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #1A1A1A; 
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    padding: 0 1.5rem;
    height: 2rem;
}

button:hover {
    background-color:#F2F2F2;
    color: #0988D5;
    font-weight: 500;
    cursor: pointer;
}

.color-blind-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}


#color-blind-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

#color-blind-container i {
    color: #8C8C8C;
    font-size: 1.5rem;
}

#color-blind-container p {
    color: #8C8C8C;
    font-size: 0.9rem;
}

.color-blind-mode #color-blind-container p {
    color: #0988D5;
}

.color-blind-mode #color-blind-container i {
    color: #0988D5;
}

.color-blind-mode .stock-item {
    border: 1px solid #0988D5;
}

.color-blind-mode .stock-item .shelf-life-bar-container {
    background-color: #F2F2F2; 
    border: 1px solid #C9E3FA;
}

.color-blind-mode .stock-item .shelf-life-bar-progress {
    background-color: #0988D5;
}

.color-blind-mode .stock-item .item-days-left {
    color: #0988D5;
}

#homepage-stock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.stock-item,
.expire-item {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;  
}

.item-instock,
.item-expiring {
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 0 1rem;
    width: 100%;
}

.stock-item .item-content,
.expire-item .item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.stock-item .shelf-life-bar-container {
    background-color: #F2F2F2; 
    border: 1px solid #C6EAD3;
    width: 100%;
    height: 1rem;
    border-radius: 10px;
    margin: 0 0 1rem 0;
}

.stock-item .shelf-life-bar-progress {
    background-color: #00A652;
    height: 1rem;
    border-radius: 10px;
}

.expire-item .shelf-life-bar-container {
    background-color: #FAD4D4; 
    border: 1px solid #F21213;
    width: 100%;
    height: 1rem;
    border-radius: 10px;
    margin: 0 0 1rem 0;
}

.expire-item .shelf-life-bar-progress {
    background-color: #F21213;
    height: 1rem;
    border-radius: 10px;
}

.stock-item .item-days-left {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: #00A652;
}

.expire-item .item-days-left {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: #F21213;
}

.item-days-left.expired-text {
    color: #D9D9D9;
}

.shelf-life-bar-container.expired-container {
    border: 1px solid #D9D9D9;
    background-color: #F2F2F2;
}

.shelf-life-bar-progress.expired-progress {
    background-color: #D9D9D9;
}

.item-name {
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #1A1A1A;
}

@media (max-width: 860px) {
    #homepage-stock, 
    #intro-text p, 
    #search-bar {
        max-width: 83%;
        margin-left: auto;
        margin-right: auto;
    }
}

#full-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.button-container {
    grid-area: button;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem; 
}

#alphabet-list {
    grid-area: letter-list;
}

#alphabet-select {
    grid-area: letter-select;
}

#full-list select {
    background-color: #F2F2F2;
    border-radius: 5px;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #1A1A1A;
    padding: 0 1rem;
    height: 2rem;
    width: 300px;
}

div.expire-item {
    border-radius: 5px;
    border: 1px solid #F21213;
    padding: 1.5rem;
}

div.stock-item {
    border-radius: 5px;
    border: 1px solid #00A652;
    padding: 1.5rem;
}

.expire h3 {
    margin-top: 2rem;
}

/*
section.info {
    grid-area: info;
    border-radius: 5px;
    background-color: #F2F2F2;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

section.info a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 0.9rem;
}

section.info figure img{
    display: inline-block;
    width: 150px;
    height: auto;
}
*/

div.tab-container {
    grid-area: button;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div.divider {
    color: #D9D9D9;
    font-size: 1.5rem;
}

div.tab-container {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.index div.tab-container #freezer-btn {
    background-color: #FFFFFF;
}

.index-freezer div.tab-container #fridge-btn {
    background-color: #FFFFFF;
}

.index-freezer div.tab-container #freezer-btn {
    background-color: #D9D9D9;
}

.no-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #1A1A1A;
}

.item-instock {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #1A1A1A;
}

main.about {
    margin: 3rem auto 5rem auto; 
    display: grid; 
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

#about-project {
    grid-column: 1 / 2; 
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center; 
    gap: 1rem;
    margin-top: 2rem;
}

#about-author {
    grid-column: 2 / 3; 
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

#about-project img, 
#about-author img {
    display: inline-block;
    width: auto;
    height: 400px;
    border-radius: 5px;
}

#about-author img {
    margin-top: -2.5rem;
}

#about-project figcaption {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #8C8C8C;
    margin: 0; 
    padding: 0.5rem 0 0 0; 
}

@media (max-width: 900px) {
    main.about {
        grid-auto-columns: 1fr;
        grid-auto-rows: auto;
    }

    #about-project,
    #about-author {
        grid-column: 1 / 2; 
    }

    #about-project img, 
    #about-author img {
        height: auto;
        width: 100%;
    }

    #project-info {
        margin-bottom: 5rem;
    }

}